
.landing-header {

    display: none;
}

html[dir] ._1WKYb {

    display: none;
}
._1155t {

    display: none;
}

._3tdru {

    display: none;
}

._3eHDf, .Xqn5L, ._3tdru {
   display:none;
}
html[dir] ._3DgtU {

  display:none;
}